.container ul {
	list-style: none;
}

.container ul li {
	display: inline-block;
}

.li2 {
	float: right;
}

.row.content {
	height: 550px
}

.sidenav {
	background-color: #004554;
	height: 100%;
}