@charset "UTF-8";

.nav-tabs>li {
	width:50%;
}

.bar {
	margin: 17% 0 0 0;
}

.paybtn {
	float: right; 
	margin-top: 6px;
	border: none;
}

.tab-content .payTab {
	position: fixed;
    top: 81.5%;
    width: 100%;
    background: #FFE8EE;
    height: 44px;
}

.tab-content label {
	margin-top : 12px;
}

















