@charset "UTF-8";

ul, body {
   margin: 0 !important;
   
}
.cash >div>a {
   text-decoration: none;
   color:black;   
}
.img .icon{
   font-size: 1.3em;
   margin-left: 0.3em;
}
.content {
   padding: 15px;
   margin-bottom: 14%;
}

.content .line >div{
   display: inline-block;
   margin-top: 20px;
}

.line {
	margin: 0 5%;
}

.pay {
	margin: 0 5%;
}

.title {
   width: 30%;
   font-weight: bold;
   
}

.line .contents{ 
   border: none;
   width:67%;
}

.img .icon {
   font-size: 1.5em;
   color: red;
}